services:
  web:
    build: .
    image: whois-go:latest
    ports:
      - "14400:5000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CONFIG_USER=${CONFIG_USER:-admin}
      - CONFIG_PASS=${CONFIG_PASS:-admin}
      - PORT=5000
    restart: unless-stopped
    
  redis:
    image: redis:alpine
    restart: unless-stopped
    command: redis-server --save 60 1
    volumes:
      - redis_data:/data

volumes:
  redis_data: