version: '3.8'

services:
  web:
    image: registry.reitetschlaeger.com/whois-webserver:latest
    ports:
      - "14400:5000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - REDIS_LIM_DB=1
    restart: unless-stopped
    networks:
      - free1_default
  redis:
    image: redis:latest
    restart: unless-stopped
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - /proxy/whois/redis-data:/data
    networks:
      - free1_default
networks:
  free1_default:
    external: true
